{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <h5 class="my-3 border-bottom pb-2">자막 생성</h5>
    <div class="row">
        <div class="col-md-6" id="content_field">
            <div class="row" style="position: sticky; top: 0; z-index:1000">
                <button type="button" class="btn btn-primary col-md-12 my-1" id="save_button">스크립트 저장</button>
                <button type="button" class="btn btn-primary col-md-12 my-1" id="next_step">다음 단계로</button>
            </div>

            <form method="post" class="post-form">
                {% csrf_token %}
                <!-- 오류표시 Start -->
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                <!-- 오류표시 End -->
                <div class="form-group">
                    <label for="subject">제목</label>
                    <input type="text" class="form-control" name="subject" id="subject"
                           value="{{ subject|default_if_none:'' }}" placeholder="제목을 입력하세요.">
                </div>
                <div class="form-group">
                    <label for="subject">내용</label>
                    <textarea class="form-control" name="content"
                              id="content" rows="20" placeholder="내용을 입력하세요.">{{ content|default_if_none:'' }}</textarea>
                    <p class="bytes">0 bytes</p>
                </div>
                <textarea id="keyword" style="display:none">{{ keyword|default_if_none:'' }}</textarea>
                <div class="form-group" style="display:none">
                    <label for="category">영상 카테고리</label>
                    <input type="hidden" value="{{ category|default_if_none:'' }}" id="category_default">
                    <select class="form-control" name="category" id="category">
                      <option value="한국">한국</option>
                      <option value="중국">중국</option>
                      <option value="일본">일본</option>
                      <option value="미국">미국</option>
                        <option value="중동">중동</option>
                      <option value="사업">비즈니스/사업</option>
                      <option value="무역">기업/무역</option>
                      <option value="돈">금융/돈</option>
                      <option value="폰">뉴스/스마트폰</option>
                      <option value="자동차">자동차</option>
                        <option value="군사">군사</option>
                        <option value="기술">IT/기술</option>
                        <option value="연구">과학/연구/실험</option>
                        <option value="의학">의학/의료</option>
                        <option value="축구">축구</option>
                        <option value="바다">바다</option>
                        <option value="하늘">하늘</option>
                    </select>
                </div>
                <div class="form-group" style="display:none">
                    <label for="status">상태</label>
                    <input type="hidden" value="{{ status|default_if_none:'' }}" id="select_default">
                    <select class="form-control" name="status" id="status">
                      <option value="내용">내용</option>
                      <option value="녹음">녹음</option>
                      <option value="영상">영상</option>
                      <option value="완료">완료</option>
                    </select>
                </div>

                <input type="hidden" value="{{ qid|default_if_none:'' }}" id="qid">
                <input type="hidden" value="" id="subtitle_cnt">
                <!--<input type="button" id="cur" value="커서">-->
            </form>
        </div>

            <div class="row col-md-12" id="download_ctrl">
                <div class="col-md-4 col-4 my-1">
                    <button type="button" class="btn btn-primary col-md-12" id="step_back1">뒤로</button>
                </div>
                <div class="col-md-4 col-4 my-1">
                    <button type="button" class="btn btn-primary col-md-12" id="save_keyword">키워드 저장</button>
                </div>
                <div class="col-md-4 col-4 my-1">
                    <button type="button" class="btn btn-primary col-md-12" id="only_search_keyword">전체 검색</button>
                </div>
<!--                <div class="col-md-4 col-4 my-2">
                    <button type="button" class="btn btn-primary col-md-12" id="search_keyword">키워드 검색 후 다운로드</button>
                </div>-->
                <div class="col-md-4 col-4 my-1">
                    <a href="/pybo/editor/subtitle?line=1&qid={{ qid|default_if_none:'' }}" ><button type="button" class="btn btn-primary col-md-12" id="download_subtitle">자막 다운</button></a>
                </div>
                <div class="col-md-4 col-4 my-1">
                    <button type="button" class="btn btn-primary col-md-12" id="only_search_keyword_download">선택 다운로드</button>
                </div>
                <div class="col-md-4 col-4 my-1">
                    <button type="button" class="btn btn-primary col-md-12" id="automake_download">AI 자동완성</button>
                </div>
            </div>
        <div class="col-md-6" id="subtitle_field" style="width:100%; height:700px; overflow:auto">
            <table class="table">
                <thead>
                <tr class="text-center thead-dark">
                    <th>번호</th>
                    <th>자막</th>
                </tr>
                </thead>
                <tbody id="AddOption">
                <tr class="text-center">
                    <td class="text-center">1</td>
                    <td class="text-center">
                        스크립트 내용
                    </td>
                </tr>
                </tbody>
            </table>

            <!--<div class="row my-2">
                <div class="col-12 input-group">
                    <input type="text" class="form-control kw" value="">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn_search">재검색</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="1" class="col-6 col-sm-6" style="background-color:black;">
                    <img src="/static/video/1.png" style="width:100%;max-height:100%">
                </div>
                <div id="2" class="col-6 col-sm-6" style="background-color:black;">
                    <img src="/static/video/2.png" style="width:100%;max-height:100%">
                </div>
                <div class="clearfix visible-xs"></div>
            </div>
            <div class="row">
                <div id="3" class="col-6 col-sm-6" style="background-color:black;">
                    <img src="/static/video/3.png" style="width:100%;max-height:100%">
                </div>
                <div id="4" class="col-6 col-sm-6" style="background-color:black;">
                    <img src="/static/video/4.png" style="width:100%;max-height:100%">
                </div>
                <div class="clearfix visible-xs"></div>
            </div>
            <div class="row my-2">
                <div class="col-12" id="refresh">
                    <a href="#" class="btn btn-primary" style="width:100%">새로고침</a>
                </div>
            </div>-->
        </div>
    </div>
    <div class="row justify-content-center">
         <div class="alert alert-success alert-dismissible fade show col-md-2 col-6" role="alert" style="display:none;text-align:center;position:fixed;bottom:0;z-index:1100;">
            <strong>저장되었습니다.</strong>
        </div>
    </div>
</div>
<button onclick="topFunction()" id="backToTop" title="Go to top">Top</button>
<script>
//Get the button
var mybutton = document.getElementById("backToTop");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
{% endblock %}
{% block script %}
<!-- Editor JS -->
<script src="{% static 'editor.js' %}"></script>
{% endblock %}