{% extends 'base.html' %}
{% block content %}
<div class="container-fluid my-3">
    <h5 class="my-3 border-bottom pb-2">뉴스기사 변환</h5>
    <div class="row">
        <div class="col-md-5" id="content_field">
            <form method="post" class="post-form">
                {% csrf_token %}
                <!-- 오류표시 Start -->
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                <!-- 오류표시 End -->
                <div class="form-group">
                    <textarea class="form-control" name="content"
                              id="content" rows="20" placeholder="내용을 입력하세요.">{{ content|default_if_none:'' }}</textarea>
                    <p class="bytes">공백 포함 : 0 bytes ( 권장 8000 byte ), 공백 제거 : 0 ( 권장 3700 )</p>
                </div>
            </form>
        </div>
        <div class="col-md-1" id="button_field">
             <button type="button" class="btn btn-primary my-3" id="convert_button" style="width:100%;">변환</button>
        </div>
        <div class="col-md-5" id="convert_field">
            <form method="post" class="post-form">
                {% csrf_token %}
                <!-- 오류표시 Start -->
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                <!-- 오류표시 End -->
                <div class="form-group">
                    <textarea class="form-control" name="content"
                              id="convert_content" rows="20" readonly>{{ content|default_if_none:'' }}</textarea>
                    <p class="bytes">공백 포함 : 0 bytes ( 권장 8000 byte ), 공백 제거 : 0 ( 권장 3700 )</p>
                </div>
            </form>
        </div>
        <div class="col-md-1" id="util_button_field">
             <button type="button" class="btn btn-primary my-3" id="copy_button" style="width:100%;">복사</button>
        </div>
    </div>

</div>

{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $('#convert_button').click(function(){
        var content = $('#content').val();
        //alert(content);
        content = content.replace(/간다\./gi, "갑니다.");
        content = content.replace(/것이다\./gi, "것입니다.");
        content = content.replace(/겼다\./gi, "겼습니다.");
        content = content.replace(/꼽힌다\./gi, "꼽힙니다.");
        content = content.replace(/됐다\./gi, "됐습니다.");
        content = content.replace(/된다\./gi, "됩니다.");
        content = content.replace(/렸다\./gi, "렸습니다.");
        content = content.replace(/밝혔다\./gi, "밝혔습니다.");
        content = content.replace(/보인다\./gi, "보입니다.");
        content = content.replace(/상태다\./gi, "상태입니다.");
        content = content.replace(/섰다\./gi, "섰습니다.");
        content = content.replace(/않다\./gi, "않습니다.");
        content = content.replace(/았다\./gi, "았습니다.");
        content = content.replace(/었다\./gi, "었습니다.");
        content = content.replace(/였다\./gi, "였습니다.");
        content = content.replace(/왔다\./gi, "왔습니다.");
        content = content.replace(/위다\./gi, "위입니다.");
        content = content.replace(/이다\./gi, "입니다.");
        content = content.replace(/인다\./gi, "입니다.");
        content = content.replace(/있다\./gi, "있습니다.");
        content = content.replace(/작다\./gi, "작습니다.");
        content = content.replace(/졌다\./gi, "졌습니다.");
        content = content.replace(/크다\./gi, "큽니다.");
        content = content.replace(/평가다\./gi, "평가입니다.");
        content = content.replace(/하다\./gi, "합니다.");
        content = content.replace(/한다\./gi, "합니다.");
        content = content.replace(/했다\./gi, "했습니다.");
        content = content.replace(/눴다\./gi, "눴습니다.");
        content = content.replace(/썼다\./gi, "썼습니다.");
        content = content.replace(/렀다\./gi, "렀습니다.");
        content = content.replace(/쳤다\./gi, "쳤습니다.");
        content = content.replace(/기다\./gi, "기입니다.");
        content = content.replace(/온다\./gi, "옵니다.");
        content = content.replace(/도다\./gi, "도입니다.");
        content = content.replace(/췄다\./gi, "췄습니다.");
        content = content.replace(/나온다\./gi, "나옵니다.");
        content = content.replace(/힘들다\./gi, "힘듭니다.");
        content = content.replace(/세웠다\./gi, "세웠습니다.");
        content = content.replace(/맡는다\./gi, "맡았습니다.");

        content = content.replace(/\. /gi, ".\n");

        $('#convert_content').val(content);


    });

    $('#copy_button').click(function(){
        copy_to_clipboard();
    });


    $(function(){
        $('textarea#content').keyup(function(){
            bytesHandler(this);
        });
    });

    function getTextLength(str) {
        var len = 0;

        for (var i = 0; i < str.length; i++) {
            if (escape(str.charAt(i)).length == 6) {
                len++;
            }
            len++;
        }
        return len;
    }

    function getTextLength_removeBlank(str) {
        var len = 0;

        str = str.replace(/ /g,"");
        return str.length;
    }

    function bytesHandler(obj){
        var text = $(obj).val();
        var output = '';
        output += '공백 포함 : ' + getTextLength(text)+' bytes ( 권장 8000 byte ), ';
        output += '공백 제거 : ' + getTextLength_removeBlank(text)+' ( 권장 3700 )';
        $('p.bytes').text(output);
        //console.log($('textarea#content').val());
    }


    function copy_to_clipboard() {
      var copyText = document.getElementById('convert_content');
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("Copy");
    }

});
</script>
{% endblock %}