{% extends 'base.html' %}
{% load pybo_filter %}
{% load static %}
{% block content %}
<div class="container-fluid my-3">
    <h5 class="my-3 border-bottom pb-2">영상 검색</h5>
    <div class="row justify-content-center my-3">
        <div class="col-lg-5 col-md-6 col-8 input-group">
            <input type="text" id="search_input" placeholder="검색어를 입력해주세요." onkeypress="search_media()" class="form-control kw" value="{{ kw|default_if_none:'' }}" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
            </div>
        </div>
    </div>

    <div class="row justify-content-center my-3" id="distinct_tag_list">
        <div class="col-lg-8 col-md-8 col-10" id="tag1" style="text-align:center;">
        {% if distinct_tag_list %}
        {% for tag in distinct_tag_list %}
            {% if forloop.counter > 0 %}
            <a href="/pybo/upload/list?page=1&kw={{ tag }}" class="badge badge-info tag2" style="display:none;">{{ tag }}</a>
            {% else %}
            <a href="/pybo/upload/list?page=1&kw={{ tag }}" class="badge badge-info tag1">{{ tag }}</a>&nbsp;
            {% endif %}
        {% endfor %}
        {% endif %}

        </div>
        <div class="col-lg-8 col-md-8 col-10" id="tag2">

        </div>
        <div class="col-lg-8 col-md-8 col-10" style="text-align:center;">
            <button class="badge badge-alert" type="button" id="tag_showall">태그 전체보기</button>
            <button class="badge badge-alert" type="button" id="tag_hideall" style="display:none;">태그 숨기기</button>
        </div>
    </div>
    <h5 class="border-bottom"></h5>
    <div class="row justify-content-center" id="upload_list">
        {% if upload_list %}
        {% for file in upload_list %}
<!--        <div class="col-lg-4 col-md-6 col-xl-3">
            <em><i>{{ file.tag }}</i></em>
            <a href="/media/{{ file.filepath }}" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="/media/{{ file.filefolder }}/{{ file.id }}.jpg" alt="">
            </a>
        </div>-->
        <!--<div class="col-lg-4 col-md-6 col-xl-2 video">-->
        <div class="col-lg-3 col-md-4 col-6 video" id="tag_{{ file.id }}" tag-id="{{ file.id }}" tag="{{ file.tag }}" style="padding-right: 0px;padding-left: 0px;">
            <!--<a href="/media/{{ file.filepath }}" target="_blank"><img src="/static/img/btn_download.png" style="width:15px"></a>-->
            <a href="/media/{{ file.filepath }}" target="_blank"><img src="/static/img/btn2_download.png" style="width:22px;"></a>
<!--            <a href="#" class="badge badge-primary">
                {{ file.tag }}
            </a>-->


<!--            <div class="custom-file col-md-5">
                <input type="text" class="form-control" name="tag" maxlength="200" required="" id="id_tag" data-role="tagsinput" value="{{ file.tag|default_if_none:'' }}">
            </div>-->
            <!--<em class="custom-file-input"><i>{{ file.tag }}</i></em>-->
            <a href="{% url 'pybo:upload_modify' file.id  %}">
            <video class="thevideo img-fluid img-thumbnail" poster="/media/{{ file.filefolder }}/{{ file.id }}.jpg" controls data-play="hover" muted="muted">
                <source src="/media/{{ file.filepath }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            </a>
        </div>
        {% endfor %}
        {% else %}
        <div class="justify-content-center my-3">
            <h5 class="justify-content-center my-3 pb-2">결과가 없습니다.</h5>
        </div>
        {% endif %}

    </div>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if upload_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ upload_list.previous_page_number }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in upload_list.paginator.page_range %}
        {% if page_number >= upload_list.number|add:-5 and page_number <= upload_list.number|add:5 %}
            {% if page_number == upload_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if upload_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ upload_list.next_page_number }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
<form id="searchForm" method="get" action="{% url 'pybo:upload_list' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    // 검색창 커서 제일 뒤에 위치시키기
    var len = $('#search_input').val().length;
    $('#search_input').focus();
    $('#search_input')[0].setSelectionRange(len, len);

    // search btn
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });

    $("#tag_showall").on('click', function() {
        $(".tag2").css('display','');
        $("#tag_showall").css('display','none');
        $("#tag_hideall").css('display','');
    });
    $("#tag_hideall").on('click', function() {
        $(".tag2").css('display','none');
        $("#tag_hideall").css('display','none');
        $("#tag_showall").css('display','');
    });

    // video hover autoplay
<!--    var figure = $(".video").hover( hoverVideo, hideVideo );-->
<!--    function hoverVideo(e) {-->
<!--        $('video', this).get(0).play();-->
<!--    }-->
<!--    function hideVideo(e) {-->
<!--        $('video', this).get(0).pause();-->
<!--    }-->


    // split comma tags
    function split_comma() {
        var list_cnt = $("#upload_list").children().length;
        //alert(list_cnt);
        //alert(html);

        for(var i=1; i<=list_cnt; i++){
            var id = $("#upload_list").children('.video').eq(i-1).attr('tag-id');
            if(id != null){
                //console.log(i + " : " + id);
                var html = $('#tag_'+id).html();
                var tag = $('#tag_'+id).attr('tag');
                var tagArr = tag.split(',');
                var prefix = "";
                //prefix += "<span class='badge badge-success'>V</span> ";
                //prefix += "<span class='badge badge-warning'>I</span> ";
                for(var j=0; j<tagArr.length; j++){
                    prefix += "<a href='/pybo/upload/list?page=1&kw="+tagArr[j]+"' class='badge badge-primary'>"+ tagArr[j] + "</a> ";
                }
                $('#tag_'+id).html(prefix+html);
            }
        }
    }

    split_comma();
});
</script>
<script src="{% static 'upload.js' %}"></script>
<script src="{% static 'js/jquery.hoverplay.js' %}"></script>
{% endblock %}