{% extends 'base_nonegnb.html' %}
{% load static %}
{% block content %}
<div class="container-fluid my-3">
    <div class="row justify-content-center" id="upload_list">
        {% if upload_list %}
        {% for file in upload_list %}
<!--        <div class="col-lg-4 col-md-6 col-xl-3">
            <em><i>{{ file.tag }}</i></em>
            <a href="/media/{{ file.filepath }}" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="/media/{{ file.filefolder }}/{{ file.id }}.jpg" alt="">
            </a>
        </div>-->
        <!--<div class="col-lg-4 col-md-6 col-xl-2 video">-->
        <div class="col-lg-3 col-md-4 col-6 video" id="tag_{{ file.id }}" tag-id="{{ file.id }}" tag="{{ file.tag }}" video-url="/media/{{ file.filepath }}" thumb-url="/media/{{ file.filefolder }}/{{ file.id }}.jpg" style="padding-right: 0px;padding-left: 0px;">
            <!--<a href="/media/{{ file.filepath }}" target="_blank"><img src="/static/img/btn_download.png" style="width:15px"></a>-->

<!--            <a href="#" class="badge badge-primary">
                {{ file.tag }}
            </a>-->


<!--            <div class="custom-file col-md-5">
                <input type="text" class="form-control" name="tag" maxlength="200" required="" id="id_tag" data-role="tagsinput" value="{{ file.tag|default_if_none:'' }}">
            </div>-->
            <!--<em class="custom-file-input"><i>{{ file.tag }}</i></em>-->
            <!--<a href="{% url 'pybo:upload_modify' file.id  %}">-->
            <video class="thevideo img-fluid img-thumbnail" poster="/media/{{ file.filefolder }}/{{ file.id }}.jpg" loop preload="none">
                <source src="/media/{{ file.filepath }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <!--</a>-->
        </div>
        {% endfor %}
        {% else %}
        <div class="justify-content-center my-3">
            <h5 class="justify-content-center my-3 pb-2">결과가 없습니다.</h5>
            <input type="button" class="form-control" id="close_popup" value="닫기">
        </div>
        {% endif %}

    </div>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if upload_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ upload_list.previous_page_number }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in upload_list.paginator.page_range %}
        {% if page_number >= upload_list.number|add:-5 and page_number <= upload_list.number|add:5 %}
            {% if page_number == upload_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if upload_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ upload_list.next_page_number }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
<form id="searchForm" method="get" action="{% url 'pybo:upload_search_keyword' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    // url querystring 가져오기 , 사용법 $.urlParam(param);
    $.urlParam = function(name){ var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href); if (results==null){ return null; } else{ return results[1] || 0; } }

    $(".video").on('click', function() {
        var num = this.id;
        //num = num.replace('tag_','');
        var videoUrl = $('#'+num).attr('video-url');
        var thumnUrl = $('#'+num).attr('thumb-url');
        console.log($('#'+num).attr('video-id'));
        console.log(this.id);
        console.log($(opener.document).find('#subject').val());
        //$(opener.document).find('#search_keyword_1').val(videoUrl);

        console.log($.urlParam('num'));
        var lineNum = $.urlParam('num');
        var tr_str = $(opener.document).find('#tr_search_keyword_output_'+lineNum).html();
        console.log(tr_str);
        console.log("num : " + lineNum);
        $(opener.document).find('#tr_search_keyword_output_'+lineNum).html("<td colspan='2'>"
            +"<video class='thevideo img-fluid img-thumbnail' poster=" + thumnUrl + " loop='' preload='none' style='height:250px;'>"
            +"<source class='btnImages selected' id='search_thumb_" + lineNum + "_1' src='" + videoUrl + "' type='video/mp4'>"
            +"</video>"
            +"</td>");

        var kw = $.urlParam('kw');
        kw = decodeURI(kw);
        $(opener.document).find('#tr_search_subtitle_'+lineNum).get(0).scrollIntoView(true);
        $(opener.document).find('#search_keyword_'+lineNum).val(kw);

        window.close();
    });


    // close popup btn
    $("#close_popup").on('click', function() {
        window.close();
    });

    // search btn
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });

    $("#tag_showall").on('click', function() {
        $(".tag2").css('display','');
        $("#tag_showall").css('display','none');
        $("#tag_hideall").css('display','');
    });
    $("#tag_hideall").on('click', function() {
        $(".tag2").css('display','none');
        $("#tag_hideall").css('display','none');
        $("#tag_showall").css('display','');
    });

    // video hover autoplay
    var figure = $(".video").hover( hoverVideo, hideVideo );
    function hoverVideo(e) {
        $('video', this).get(0).play();
    }
    function hideVideo(e) {
        $('video', this).get(0).pause();
    }


    // split comma tags
    function split_comma() {
        var list_cnt = $("#upload_list").children().length;
        //alert(list_cnt);
        //alert(html);

        for(var i=1; i<=list_cnt; i++){
            var id = $("#upload_list").children('.video').eq(i-1).attr('tag-id');
            if(id != null){
                //console.log(i + " : " + id);
                var html = $('#tag_'+id).html();
                var tag = $('#tag_'+id).attr('tag');
                var tagArr = tag.split(',');
                var prefix = "";
                //prefix += "<span class='badge badge-success'>V</span> ";
                //prefix += "<span class='badge badge-warning'>I</span> ";
                for(var j=0; j<tagArr.length; j++){
                    prefix += "<a href='/pybo/upload/list?page=1&kw="+tagArr[j]+"' class='badge badge-primary'>"+ tagArr[j] + "</a> ";
                }
                $('#tag_'+id).html(prefix+html);
            }
        }
    }

    split_comma();
});
</script>
<script src="{% static 'upload.js' %}"></script>
{% endblock %}